.cart {
  max-width: 100%;
  margin-bottom: 220px;
}
.cart-container {
  width: 90%;
  margin-left: 5%;
  margin-top: 70px;
}
.cart-container table {
  width: 100%;
  height: auto;
}
.cart-table-header,
.cart-table-header th {
  text-align: center;
}
.cart-table-header,
.cart-table-body {
  border: 1px solid #ddd;
  padding: 5px 10px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  width: 100%;
}
.cart-table-header {
  margin-bottom: 50px;
}
.cart-table-body {
  text-align: center;
  border-radius: 10px;
}
.cart-table-body img {
  width: 70px;
  height: 70px;
}
.table-totalprice {
  color: #ff5050;
}
.remove-fromcart button {
  background-color: #fca5a5;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
  transition: 0.5s ease;
  font-size: 17px;
  border: 1px solid #fca5a5;
  border-radius: 10px;
}
.remove-fromcart button:hover {
  background-color: red;
  border: 1px solid red;
}
.cart-l-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.clear-cart {
  background-color: #fff;
  border: 1px solid #ff5050;
  width: 150px;
  height: 40px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pouinter;
  transition: 0.5s ease;
}
.clear-cart:hover {
  background-color: #ff5050;
  border: 1px solid #ff5050;
  color: #fff;
}
.subtotal-cart span {
  color: #ff5050;
}
.subtotal-cart button {
  margin-top: 30px;
  background-color: #ff5050;
  color: #fff;
  border: 1px solid #ff5050;
  width: 120px;
  height: 40px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pouinter;
  transition: 0.5s ease;
}
.empty-cart {
  text-align: center;
  margin-top: 181px;
}
.return-to-home button {
  margin-top: 30px;
  background-color: #ff5050;
  border: 1px solid #ff5050;
  color: #fff;
  width: 200px;
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pouinter;
  transition: 0.5s ease;
  text-decoration: none;
}
.return-to-home button:hover {
  background-color: #fff;
  border: 1px solid #ff5050;
  color: #ff5050;
}

/* START RWD */
@media screen and (max-width: 600px) {
  .cart {
    max-width: 100%;
  }
  .cart-table-header {
    display: none;
  }
  .cart-table-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
  }
}
/* END RWD */