.arrowup {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 9999999;
    position: fixed;
    animation-name: arrowan;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    background-color: #ff5050;
    text-align: center;
    transition: 0.5s ease;
}
@keyframes arrowan {
    from {
      bottom: 15px;
    }
    to {
      bottom: 20px;
    }
}
.arrowup:active{
  transform: scale(0.8);
}
.arrowup-icon {
    font-size: 20px;
    color: #fff;
    margin-top: 12px;
}